<!DOCTYPE html>
<html>
   <head>
      <title>Hotel Reservation</title>
      <link rel="stylesheet" href="../stylescheets/listdata.css" type="text/css">
   </head>
   <body>
      <div class="title-head">
         <h1>Reservation Detail Table</h1>
         <a href="/reservation_detail/form">[+ New Record]</a>
      </div>
      <table width="600" border="1" class="styled-table">
         <thead>
            <th>reservation_id</th>
            <th>room_id</th>
            <th>Update</th>
            <th>Delete</th>
         </thead>
         <tbody>
            <% if ( resultsRerservationDetail.length> 0 ) { %>
            <% resultsRerservationDetail.forEach ( function ( recordRerservationDetail, index ) { %>
            <form action="/submit" method="POST"></form>
            <tr>
               <td>
                  <%= recordRerservationDetail.reservation_id; %>
               </td>
               <td>
                  <%= recordRerservationDetail.room_id; %>
               </td>
               <td>
                  <button class="update-btn" data-reservation_id="<%= recordRerservationDetail.reservation_id %>" data-room_id="<%= recordRerservationDetail.room_id %>">Update</button>
               </td>
               <td>
                  <button class="delete-btn" data-reservation_id="<%= recordRerservationDetail.reservation_id %>" data-room_id="<%= recordRerservationDetail.room_id %>">Delete</button>
               </td>
            </tr>
            </form>
            <% } ); %>
            <% } else { %>
            <tr>
               <td colspan="100%">- ไม่มีข้อมูล -</td>
            </tr>
            <% } %>
         </tbody>
      </table>
      <script>
         document.querySelectorAll('.update-btn').forEach(button => {
             button.addEventListener('click', function() {
                 const reservation_id = this.getAttribute('data-reservation_id');
                 const room_id = this.getAttribute('data-room_id');
                 // Perform an action with the ID, such as updating data or redirecting to an update page
                 alert('Clicked Update button with reservation_id = ' + reservation_id +  " room_id ="+room_id);
                 window.location.href = '/reservation_detail/update/'+reservation_id+"/"+room_id;
             });
         });

         document.querySelectorAll('.delete-btn').forEach(button => {
             button.addEventListener('click', function() {
                 const reservation_id = this.getAttribute('data-reservation_id');
                 const room_id = this.getAttribute('data-room_id');
                 // Perform an action with the ID, such as updating data or redirecting to an update page
                 alert('Clicked Delete button with reservation_id = ' + reservation_id +  " room_id ="+room_id);
                 window.location.href = '/reservation_detail/delete/'+reservation_id+"/"+room_id;
             });
         });
     </script>
   </body>
</html>