<!DOCTYPE html>
<html>
   <head>
      <title>Lab Node.js 101</title>
   </head>
   <body>
      <a href="type/form">Create a new Type Room.</a>
      <table width="600" border="1">
         <thead>
            <th>type_id</th>
            <th>type_name</th>
            <th>num_beds</th>
            <th>max_guests</th>
            <th>price</th>

         </thead>
         <tbody>
            <% if ( resultsType.length> 0 ) { %>
            <% resultsType.forEach ( function ( recordType, index ) { %>
            <form action="/submit" method="POST"></form>
            <tr>
               <td>
                  <%= recordType.type_id; %>
               </td>
               <td>
                  <%= recordType.type_name; %>
               </td>
               <td>
                  <%= recordType.num_beds; %>
               </td>
               <td>
                  <%= recordType.max_guests; %>
               </td>
               <td>
                  <%= recordType.price; %>
               </td>
               <td>
                  <button class="update-btn" data-type_id="<%= recordType.type_id %>">Update</button>
               </td>
               <td>
                  <button class="delete-btn" data-type_id="<%= recordType.type_id %>">Delete</button>
               </td>
            </tr>
            </form>
            <% } ); %>
            <% } else { %>
            <tr>
               <td colspan="100%">- ไม่มีข้อมูล -</td>
            </tr>
            <% } %>
         </tbody>
      </table>
      <script>
         document.querySelectorAll('.update-btn').forEach(button => {
             button.addEventListener('click', function() {
                 const type_id = this.getAttribute('data-type_id');
                 // Perform an action with the ID, such as updating data or redirecting to an update page
                 alert('Clicked Update button with ID: ' + type_id);
                 window.location.href = '/type/update/'+type_id;
             });
         });

         document.querySelectorAll('.delete-btn').forEach(button => {
             button.addEventListener('click', function() {
                 const type_id = this.getAttribute('data-type_id');
                 // Perform an action with the ID, such as updating data or redirecting to an update page
                 alert('Clicked Delete button with ID: ' + type_id);
                 window.location.href = '/type/delete/'+type_id;
             });
         });
     </script>
   </body>
</html>